{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}
<style>.aboutbox1 {
  background-color: #c2e1bd;
  width: 1100px;
  height: 200px;
  padding: 8px;
  border-radius: 18px;
  overflow-y: scroll;
  overflow: hidden;

}
.aboutbox1 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.aboutbox2 {
  background-color: #f4f8fa;
  width: 1100px;
  height: 570px;
  padding: 8px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow: hidden;

}
.aboutbox2 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>
<section class="section wb">
<div class="container">


         <h2>About</h2>
                                        <p>techiebeans is an Tech Blog and question/answer website for professional and enthusiast Linux/Windows Users, Developed By <a href="https://www.linkedin.com/in/nikhil-nambiar-535848211" >Nikhil Nambiar</a>. The main aim of this website is to providing Techinical guides for Linux/Windows system administrators.</p>

                                </div>
     </div>

<hr>
<div class="container">
                                    <div class="blog-box row">

                                    <div class="blog-meta big-meta col-md-8">
                                         <h2>Contact Us</h2>
                                         {% with messages = get_flashed_messages() %}
                                     {% if messages %}
                                        {% for message in messages %}
                                        <div class="isa_success ">
                                         <i class="fa fa-info-circle"></i>
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    {% endwith %}


           {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"})}}
        </div>
    </div>
</div>

</section>
{% include "footer.html" %}
{% endblock %}