<footer class="footer text-center py-2 theme-bg-dark">
              	 <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </form>

	 <small class="copyright">Designed & Developed  by <a href="" target="_blank">Techie Beans</a> </small><br>
	    <ul>
			<a href="" ><i class="fab fa-facebook-f facebook"></i>&nbsp</a>
			<a href="" ><i class="fab fa-instagram instagram"></i>&nbsp</a>
			<a href="https://www.linkedin.com/in/nikhil-nambiar-535848211" ><i class="fab fa-linkedin-in linkedin"></i></a>
		    <a href="https://github.com/nikhil15041993?tab=repositories" ><i class="fab fa-github"></i></a>
		</ul>
	<ul>	<a href="{{url_for('About')}}">About</a>&nbsp&nbsp  <a href="{{url_for('About')}}">Contact Us</a></ul>


</footer>
